{% load i18n static %}
{% load static %}
{% load widget_tweaks %}

<title>Login</title>
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'guest/css/login.css'%}">
</head>

{% block content %}

<body>
    <div class="row"> 
        <div class="col-md-6 lado1">
            <img src="{% static 'guest/images/logo.png' %}" width="267" class="logo-align">
            <div class="mt-4 d-flex justify-content-center">
                <img src="{% static 'guest/images/password.png' %}" width="550" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="textos" id="recuperacao">
                <div class="frase1">Senha trocada com sucesso</div>
                <div style="font-size: 24px; margin-top: 24px; font-weight: 500;">
                    Vá para a página de login clicando <a href="{% url 'login' %}">aqui</a>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% translate 'Log in' %}</a></p> -->

{% endblock %}
