
{% load static %}
    <title>Login</title>
    <head> 
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'melograno/css/login.css'%}">
    </head>
{% block content %}
    <div class="row"> 
        <div class="col-md-6 lado1">
            <img src="{% static 'melograno/images/logo.png' %}" width="267">
            <div class="mt-5 d-flex justify-content-center">
                <img src="{% static 'melograno/images/login.png' %}" width="500" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="textos">
                <div class="frase1">Bem-vindo de volta!</div>
                <div class="frase2">Deu fome né? Você veio ao lugar certo!</div>
            </div>
        </div>
    </div>
{% endblock %}
