<!DOCTYPE html>
{% load static %}
<link href="{% static 'client/css/cart.css' %}" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0b732b284f.js" crossorigin="anonymous"></script>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Carrinho</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="carrinho-components">
                <div class="line-top-carrinho"></div>
                <div id="product-item" class="produtos" style="display: none">
                    <div class="item-carrinho">
                        <span class="descricao">8 BIB'SFIHAS CLÁSSICAS</span>
                        <span class="valor">R$ 19,90</span>
                    </div>
                </div>
                <div id="all-products" style="width: 100%;"></div>

                <div style="width: 100% ;" class="d-flex justify-content-center align-items-center flex-column">
                    <div 
                        id="cart-empty-state" 
                        class="cart-empty" 
                    >
                        <img src="{% static 'client/images/empty-cart.png' %}" width="150">
                        <div class="mt-4 text-muted">Seu carrinho está vazio</div>
                    </div>
                </div>
                <div
                    id="clear-cart-button"
                    class="align-self-center" 
                    style="color: rgb(199, 58, 58); text-decoration: underline; cursor: pointer;"
                    onclick="clearCart()"
                >
                    Esvaziar carrinho
                </div>
                <div class="line-down-carrinho"></div>
                
                <div id="additional-info" class="mb-4" style="width: 100%; background-color: #f7f5f5; border-radius: 10px; padding: 20px 30px;">
                    <center><p class="subtotal" style="font-weight: 600;">Informações adicionais</p></center>
                    <div class="group-buttons mb-4">
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" checked type="radio" name="delivery" id="no-delivery-radios" value="no">
                            <label class="form-check-label" for="no-delivery-radios">Retirar no local</label>
                        </div>
                        
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" type="radio" name="delivery" id="yes-delivery-radio" value="yes">
                            <label class="form-check-label" for="yes-delivery-radio">Entrega</label>
                        </div>
                    </div>
    
                    <center><p class="subtotal" style="font-weight: 600;">Forma de pagamento</p></center>
                    <div class="group-buttons mb-2">
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" checked type="radio" name="payment_method" id="payment-radio" value="money">
                            <label class="form-check-label" for="payment-radio">Dinheiro</label>
                        </div>
                        
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" type="radio" name="payment_method" id="card-radio" value="card">
                            <label class="form-check-label" for="card-radio">Cartão</label>
                        </div>
                    </div>
                </div>

                <div class="area-subtotal">
                    <span class="subtotal">Subtotal</span>
                    <span class="valor-subtotal">R$ 00,00</span>
                </div>
                <div class="delivery-area" style="display: none; width: 100%;">
                    <div class="area-entrega">
                        <span class="entrega">Taxa de entrega</span>
                        <span class="valor-entrega">R$ 8,90</span>
                    </div>
                </div>
                <div class="area-total">
                    <span class="total">Total</span>
                    <span class="valor-total">R$ 00,00</span>
                </div>
                <button class="botao-pagamento" onclick="createOrder()">Finalizar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const getCart = () => {
        axios.get('/client/cart-all-info')
            .then(response => {
                const cartItems = response.data.cart;
                addItemsToCart(cartItems);
            });
    };

    const addItemsToCart = (cartItems) => {
        const productItem = document.querySelector('#product-item');
        const products = document.querySelector('#all-products');
        const additionalInfo = document.querySelector('#additional-info');
        const clearCartButton = document.querySelector('#clear-cart-button');
        const cartEmptyState = document.querySelector('#cart-empty-state');

        products.innerHTML = '';

        if (cartItems?.length > 0) {
            additionalInfo.style.display = 'block';
            clearCartButton.style.display = 'block';
            cartEmptyState.classList.remove('cart-empty-show');
            cartEmptyState.classList.add('cart-empty');

            cartItems.forEach(item => {
                const currentItem = productItem.cloneNode(true);
                currentItem.querySelector('.descricao').innerHTML = `
                    <span class='badge bg-danger me-2'>x${item.quantity}</span>
                    ${item.name.toUpperCase()}
                `;
                let price = item.price.toLocaleString('pt-BR', {
                    minimumFractionDigits: 2, maximumFractionDigits: 2
                });
                currentItem.querySelector('.valor').innerHTML = `R$ ${price}`;
                currentItem.style.display = 'block';
                products.appendChild(currentItem);
            });
    
            let subTotalPrice = cartItems.reduce((sum, item) => {
                return sum + (item.price * item.quantity);;
            }, 0);
    
            subTotalPrice = subTotalPrice.toLocaleString('pt-BR', {
                minimumFractionDigits: 2, maximumFractionDigits: 2
            });
    
            document.querySelector('.valor-subtotal').innerHTML = `R$ ${subTotalPrice}`;
            document.querySelector('.valor-total').innerHTML = `R$ ${subTotalPrice}`;
        } else {
            additionalInfo.style.display = 'none';
            clearCartButton.style.display = 'none';
            cartEmptyState.classList.remove('cart-empty');
            cartEmptyState.classList.add('cart-empty-show');
            document.querySelector('.valor-subtotal').innerHTML = `R$ 00,00`;
            document.querySelector('.valor-total').innerHTML = `R$ 00,00`;
        }
    };

    const deliveryRadio = document.querySelectorAll('input[name="delivery"]');
    const paymentRadio = document.querySelector('input[name="payment_method"]:checked');

    deliveryRadio.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            if (checkbox.checked) {
                const delivery = document.querySelector('.delivery-area');
                if (checkbox.value === 'yes') {
                    delivery.style.display = 'block';
                    let total = document.querySelector('.valor-subtotal').innerHTML;
                    total = parseFloat(total.replace('R$ ', '').replace(',', '.'));

                    let frete = document.querySelector('.valor-entrega').innerHTML;
                    frete = parseFloat(frete.replace('R$ ', '').replace(',', '.'));

                    total = (total + frete).toLocaleString('pt-BR', {
                        minimumFractionDigits: 2, maximumFractionDigits: 2
                    });
                    document.querySelector('.valor-total').innerHTML = `R$ ${total}`;
                } else {
                    delivery.style.display = 'none';
                    let total = document.querySelector('.valor-subtotal').innerHTML;
                    total = parseFloat(total.replace('R$ ', '').replace(',', '.'));

                    total = total.toLocaleString('pt-BR', {
                        minimumFractionDigits: 2, maximumFractionDigits: 2
                    });

                    document.querySelector('.valor-total').innerHTML = `R$ ${total}`;
                }
            }
        });
    });

    const clearCart = () => {
        
        Swal.fire({
            title: 'Deseja mesmo esvaziar seu carrinho?',
            text: 'Todos os itens serão removidos',
            icon: 'warning',
            confirmButtonText: 'Esvaziar',
            cancelButtonText: 'Cancelar',
            confirmButtonColor: '#146C43',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                axios.post('/client/clear-cart')
                    .then(response => {
                        getCart();
                        getCartCount();
                    });
            }
        });
    };

    const createOrder = () => {
        const deliveryR = document.querySelector('input[name="delivery"]:checked');
        const paymentR = document.querySelector('input[name="payment_method"]:checked');

        axios.post('/client/order/create', {
            'delivery': deliveryR.value,
            'payment_method': paymentR.value,
        }).then(response => {
            setAlert('success', {
                title: response.data.message,
                text: 'Acompanhe o seu pedido na tela de "meus pedidos"'
            });
            getCart();
            getCartCount();
        })
    };

    const setAlert = (type, { title, text }) => {
        Swal.fire({
            title: title,
            text: text,
            icon: type,
            confirmButtonText: 'Ok',
            confirmButtonColor: '#F34444',
        });
    };
</script>