{% load static %}
<link href="{% static 'client/css/cart.css' %}" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0b732b284f.js" crossorigin="anonymous"></script>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Carrinho</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="carrinho-components">
                <div class="line-top-carrinho"></div>
                <div id="product-item" class="produtos" style="display: none">
                    <div class="item-carrinho">
                        <span class="descricao">8 BIB'SFIHAS CLÁSSICAS</span>
                        <span class="valor">R$ 19,90</span>
                    </div>
                </div>
                <div id="all-products" style="width: 100%;"></div>

                <div style="width: 100% ;" class="d-flex justify-content-center align-items-center flex-column">
                    <div 
                        id="cart-empty-state" 
                        class="cart-empty" 
                    >
                        <img src="{% static 'client/images/empty-cart.png' %}" width="150">
                        <div class="mt-4 text-muted">Seu carrinho está vazio</div>
                    </div>
                </div>
                <div
                    id="clear-cart-button"
                    class="align-self-center" 
                    style="color: rgb(199, 58, 58); text-decoration: underline; cursor: pointer;"
                    onclick="clearCart()"
                >
                    Esvaziar carrinho
                </div>
                <div class="line-down-carrinho"></div>
                
                <div id="additional-info" class="mb-4" style="width: 100%; background-color: #f7f5f5; border-radius: 10px; padding: 20px 30px;">
                    <center><p class="subtotal" style="font-weight: 600;">Informações adicionais</p></center>
                    <div class="group-buttons mb-4">
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" checked type="radio" name="delivery" id="no-delivery-radios" value="no">
                            <label class="form-check-label" for="no-delivery-radios">Retirar no local</label>
                        </div>
                        
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" type="radio" name="delivery" id="yes-delivery-radio" value="yes">
                            <label class="form-check-label" for="yes-delivery-radio">Entrega</label>
                        </div>
                    </div>
    
                    <center><p class="subtotal" style="font-weight: 600;">Forma de pagamento</p></center>
                    <div class="group-buttons mb-2">
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" checked type="radio" name="payment_method" id="payment-radio" value="money">
                            <label class="form-check-label" for="payment-radio">Dinheiro</label>
                        </div>
                        
                        <div class="form-check form-check-inline radio-padding radio-item">
                            <input class="form-check-input" type="radio" name="payment_method" id="card-radio" value="card">
                            <label class="form-check-label" for="card-radio">Cartão</label>
                        </div>
                    </div>
                </div>

                <div class="area-subtotal">
                    <span class="subtotal">Subtotal</span>
                    <span class="valor-subtotal">R$ 00,00</span>
                </div>
                <div class="delivery-area" style="display: none; width: 100%;">
                    <div class="area-entrega">
                        <span class="entrega">Taxa de entrega</span>
                        <span class="valor-entrega">R$ 8,90</span>
                    </div>
                </div>
                <div class="area-total">
                    <span class="total">Total</span>
                    <span class="valor-total">R$ 00,00</span>
                </div>
                <button class="botao-pagamento" onclick="createOrder()">Finalizar</button>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>