{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'client/css/modal-order.css'%}" />

<!-- Modal -->
<div class="modal fade" id="plate-modal" tabindex="-1" aria-labelledby="plate-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="modal-body-image">
          <div id="item-img" class="image-container-modal" style="background: url();"></div>
        </div>

        <div class="modal-body-text">
          <h2 id="item-name">8 BIB’SFIHAS CLÁSSICAS</h2>
          <p id="item-description" class="modal-text-description">
            Faça as contas e economize! Escolha 8 Bib’sfihas nos sabores de:
            Carne, Calabresa com Mussarela ou Frango. Peça já!
          </p>
          <div class="d-flex">
            <h6 id="item-price" class="modal-text-price" style="color: #00d22e;">R$ 19,90</h6>
            <div class="pizzaInfo--qtarea align-self-end" style="margin-left: 10px;">
              <button class="pizzaInfo--qtmenos">-</button>
              <div class="pizzaInfo--qt">1</div>
              <button class="pizzaInfo--qtmais">+</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button onclick="addItemToCart()" data-bs-dismiss="modal" type="button" class="btn btn-primary" style="background-color: #f34444">
          <div>Adicionar</div>
          <div style="margin-left: 20px"></div>
          <div id="current-price">$19,90</div>
        </button>
      </div>
    </div>
  </div>
</div>

<script>

  const btnLess = document.querySelector('.pizzaInfo--qtmenos');
  const btnMore = document.querySelector('.pizzaInfo--qtmais');
  let itemPrice = document.querySelector('.pizzaInfo--qt');

  btnLess.addEventListener('click', () => {
    let currentAmount = itemPrice.innerHTML;
    
    if (currentAmount > 1) {
      currentAmount--;
    }

    itemPrice.innerHTML = currentAmount;
    calculatePrice(currentAmount);
  });
  
  btnMore.addEventListener('click', () => {
    let currentAmount = itemPrice.innerHTML;
    currentAmount++;    
    itemPrice.innerHTML = currentAmount;
    calculatePrice(currentAmount);
  });

  const calculatePrice = (currentAmount) => {
    let price = document.querySelector('#item-price');
    price = price.innerHTML;
    price = price.replace('R$ ', '').replace(',', '.');
    price = parseFloat(price);

    let currentPrice = currentAmount * price;

    const buttonPrice = document.querySelector('#current-price');
    buttonPrice.innerHTML = `R$ ${currentPrice.toString().replace('.', ',')}`;
  };
</script>