<div class="modal fade" id="rate-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Avaliar</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <center>
                    <input type="number" id="input-rate" class="form-control" min="1" max="5"
                        style="width: 50%; height: 60px; font-size: 30px;">
                    <div id="passwordHelpBlock" class="form-text">
                        Digite uma nota de 0 a 5
                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="border: none;"
                    data-bs-dismiss="modal">Fechar</button>
                <button onclick="submitRate()" id="rate-btn" type="button" class="btn btn-primary disabled"
                    style="border: none; background-color: #F24443;" data-bs-dismiss="modal">Avaliar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const rate = document.querySelector('#input-rate');

    rate.addEventListener('change', () => {
        const rateBtn = document.querySelector('#rate-btn');

        if (rate.value > 0 && rate.value <= 5) {
            rateBtn.classList.remove('disabled');
        } else {
            if (!rateBtn.classList.contains('disabled')) {
                rateBtn.classList.add('disabled');
            }
        }
    });

    const submitRate = () => {
        const rateBtn = document.querySelector('#rate-btn');

        if (rate.value < 0 || rate.value > 5) {
            return;
        }

        Swal.fire({
            title: 'Avaliado com sucesso!',
            icon: 'success',
            confirmButtonText: 'Ok',
            confirmButtonColor: '#F34444',
        });
    }

</script>