<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'client/css/category.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estabelecimentos de Comida Mexicana</title>
</head>
<body>
    {% include 'client/carrinho.html' %}
    <header>
        <div id="logo" class="logo-align">
            <img src="{% static 'client/images/logo.png' %}" width="267">
        </div>
        <div id="navbar" class="navbar-items">
            <a href="" class="menu-item">Início</a>
            <a href="" class="menu-item active">Restaurantes</a>
        </div>

        <div id="search">
            <span class="search-icon">
                <img 
                    src="{% static 'client/images/search-icon.png' %}"
                    width="20" 
                    alt=""
                >
            </span>
            <input 
                class="custom-input"
                type="text"
                placeholder="Procurar"
            />
        </div>
  
        <div class="icons-area">
            <div class="icon">
               <button class="icone-carrinho" style="border: none; background-color: transparent;"><img src="{% static 'client/images/cart.svg' %}" /></button>
            </div>
        
            <div class="icon">
                <img src="{% static 'client/images/user.svg' %}" />
            </div>
        </div>
      </header>
      <div onclick="fechar()">
      <div class="line-top"></div>

      <div class="title-area">
        <span class="title">Comida Mexicana</span> 
        <img src="{% static 'client/images/banner-mexican.png' %}">
      </div>
      <div class="line-down"></div>

      <div class="products-area">
        <span class="title">Estabelecimentos de Comida Mexicana</span>
        <div class="grid">
            <div class="item">
                <img src="{% static 'client/images/logo-habibs.png' %}" alt="">
                <div class="text-area">
                    <p  class="nome-estabelecimento">Habib's Petrolina </p>
                    <p class="time">Lanches ◍ 20 - 30min</p>
                    <div class="estrelas">
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'client/images/logo-bar-gordo.png' %}" alt="">
                <div class="text-area">
                    <p  class="nome-estabelecimento">Bar do Gordo </p>
                    <p class="time">Bebidas ◍ 20 - 30min</p>
                    <div class="estrelas">
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'client/images/logo-mcdonalds.png' %}" alt="">
                <div class="text-area">
                    <p  class="nome-estabelecimento">McDonald's </p>
                    <p class="time">Lanches ◍ 20 - 30min</p>
                    <div class="estrelas">
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'client/images/logo-bar-tripa.png' %}" alt="">
                <div class="text-area">
                    <p  class="nome-estabelecimento">Bar da tripa </p>
                    <p class="time">Bebidas ◍ 20 - 30min</p>
                    <div class="estrelas">
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                        <i class="fa fa-star" style="font-size:25px;"></i>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
  </div>
  <script>
    const botao = document.querySelector('.icone-carrinho')
    const carrinho = document.querySelector('.carrinho')
    botao.addEventListener('click', () => {
        if (carrinho.style.display === 'none') {
            carrinho.style.display = 'block'; // mostra a barra lateral
      } else {
            carrinho.style.display = 'none'; // oculta a barra lateral
      }
});
  </script>
</body>
</html>
