{% extends 'client/layouts/base.html' %}
{% load static %}

{% block title %} Peça agora! {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<link href="{% static 'guest/css/swiper-slider.css' %}" rel="stylesheet">
<script src="{% static 'client/js/constants/sliders.js' %}"></script>

<div style="margin: -50px 0px 0px -45px;">
    <div class="swiper-slide" style="display: none">
        <div style="position: relative">
            <div class="img-hover"></div>
            <img class="category-image" src="">
        </div>
        <div class="category-title" style="font-size: 20px; margin-top: 20px;"></div>
    </div>
    
    <div style="font-weight: 500; font-size: 25px; color: #1E1E1E; margin-top: 50px; margin-left: 50px;">
        Categorias
    </div>
    <div class="slider-group" style="margin-top: 25px; margin-left: 50px; margin-bottom: 30px;">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper"></div>
        </div>
    </div>
    
    <hr style="margin-inline: 50px;">
    
    <div style="font-weight: 500; font-size: 25px; color: #1E1E1E; margin-top: 50px; margin-left: 50px;">
        Estabelecimentos
    </div>
    <div class="d-flex justify-content-center" style="margin-left: -260px">
        <div>
            <div class="grid">
                {% for establishment in establishments %}
                    <a class="item" style="width: 450px;" href="{% url 'client:establishment' establishment.establishment_id %}">
                        <div class="image-container" style="background-image: url('{{ establishment.image }}')"></div>
                        <div class="text-area">
                            <p class="nome-estabelecimento">{{ establishment.name }} </p>
                            <p class="time">Tempo médio ◍ {{ establishment.avg_time }}</p>
                            <div class="estrelas">
                                {% for it in establishment.rate %}
                                    <i id="{{ it }}" class="fa fa-star" style="font-size:20px; color: #FEAC3E"></i>
                                {% endfor %}
                                {% for it in establishment.outline %}
                                    <i id="{{ it }}" class="fa fa-star" style="font-size:20px;"></i>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="pagination below-navbar d-flex justify-content-center mt-5">
        <span class="step-links">
            {% if establishments.has_previous %}
            <a class="page_link" href="?page=1">&laquo; Primeira</a>
            <a class="page_link" href="?page={{ establishments.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ establishments.number }} de {{ establishments.paginator.num_pages }}.
            </span>

            {% if establishments.has_next %}
            <a class="page_link" href="?page={{ establishments.next_page_number }}">Próxima</a>
            <a class="page_link" href="?page={{ establishments.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script>


    const createSliders = () => {
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 40,
            freeMode: true,
        });

        let sliderGroup = document.querySelector('.swiper-wrapper');
        const slideItem = document.querySelector('.swiper-slide');

        categoriesSlider.map(({ id, category, image, url }) => {
            let slide = slideItem.cloneNode(true);
            slide.style.display = 'block';

            slide.querySelector('.category-image').src = image;
            slide.querySelector('.category-title').innerHTML = category;
            slide.addEventListener('click', () => {
                window.location = url;
            });

            sliderGroup.appendChild(slide);
        });
    }

    createSliders();

</script>
{% endblock %}