{% extends 'client/layouts/base.html' %}
{% load static %}

{% block title %} Peça agora! {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<link href="{% static 'guest/css/swiper-slider.css' %}" rel="stylesheet">
<script src="{% static 'client/js/constants/sliders.js' %}"></script>

<div style="margin: -50px 0px 0px -45px;">
    <div class="swiper-slide" style="display: none">
        <div style="position: relative">
            <div class="img-hover"></div>
            <img class="category-image" src="">
        </div>
        <div class="category-title" style="font-size: 20px; margin-top: 20px;"></div>
    </div>
    
    <div style="font-weight: 500; font-size: 25px; color: #1E1E1E; margin-top: 50px; margin-left: 50px;">
        Categorias
    </div>
    <div class="slider-group" style="margin-top: 25px; margin-left: 50px; margin-bottom: 30px;">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper"></div>
        </div>
    </div>
    
    <hr style="margin-inline: 50px;">
    
    <div style="font-weight: 500; font-size: 25px; color: #1E1E1E; margin-top: 50px; margin-left: 50px;">
        Estabelecimentos
    </div>
    <div class="grid">
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-habibs.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">Habib's Petrolina </p>
                <p class="time">Lanches ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-bar-gordo.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">Bar do Gordo </p>
                <p class="time">Bebidas ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-mcdonalds.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">McDonald's </p>
                <p class="time">Lanches ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-bar-tripa.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">Bar da tripa </p>
                <p class="time">Bebidas ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script>


    const createSliders = () => {
        const swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 40,
            freeMode: true,
        });

        let sliderGroup = document.querySelector('.swiper-wrapper');
        const slideItem = document.querySelector('.swiper-slide');

        categoriesSlider.map(({ id, category, image, url }) => {
            let slide = slideItem.cloneNode(true);
            slide.style.display = 'block';

            slide.querySelector('.category-image').src = image;
            slide.querySelector('.category-title').innerHTML = category;
            slide.addEventListener('click', () => {
                window.location = url;
            });

            sliderGroup.appendChild(slide);
        });
    }

    createSliders();

</script>
{% endblock %}