{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'owner/css/establishment-signup.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'guest/images/favicon.png' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/0b732b284f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Concluir Cadastro do Estabelecimento - Melograno!</title>

</head>

<body>
  <div class="row">
    <div class="col-md-6 lado1">
      <span class="titulo">Preencha as informações do seu estabelecimento</span>
      <div class="area-inputs-signup"></div>
      <span class="file-title">Identidade visual</span>
      <label for="file-input" class="label-file">
        <i class="fas fa-cloud-upload-alt" style="font-size: 12px;"></i>
        <span style="font-size: 15px;">Importar arquivo</span>
        <div class="line"></div>
        <span id="file-name"></span>
      </label>
      <input type="file" id="file-input" class="box-file" name="file" onchange="updateFileName(this)">

      <label for="name" class="label-name">Nome do estabelecimento</label>
      <div>
        <input type="name" id="name" class="box-name" name="name">
      </div>

      <div class="section-inputs">
        <div class="me-3">
          <label for="time" class="label-time">Abre às</label>
          <div>
            <input type="time" id="time" class="box-time p-3" name="opens_at">
          </div>
        </div>
        <div>
          <label for="time" class="label-time">Fechas às</label>
          <div>
            <input type="time" id="time" class="box-time p-3" name="closes_at">
          </div>
        </div>
      </div>
      <div class="input2 mt-3">
        <label for="categoria" class="label-categoria">Categoria</label>
        <select id="categoria" class="box-categoria" name="category" style="width: 100%;">
          <option value="" disabled selected style="display:none;"></option>
          <option value="mexican">Mexicana</option>
          <option value="healthy">Saudável</option>
          <option value="brazilian">Brasileira</option>
          <option value="japanese">Japonesa</option>
          <option value="italian">Italiana</option>
        </select>
      </div>

      <div class="user-type-text">Tipo de entrega</div>
      <div class="group-buttons">
        <div class="form-check form-check-inline radio-padding radio-item">
          <input class="form-check-input" type="radio" name="delivery" id="inlineRadio1" value="true">
          <label class="form-check-label" for="inlineRadio1">Delivery</label>
        </div>

        <div class="form-check form-check-inline radio-padding radio-item">
          <input class="form-check-input" type="radio" name="delivery" id="inlineRadio2" value="false">
          <label class="form-check-label" for="inlineRadio2">Retirada no local</label>
        </div>

        <div class="form-check form-check-inline radio-padding radio-item">
          <input class="form-check-input" type="radio" name="delivery" id="inlineRadio3" value="true">
          <label class="form-check-label" for="inlineRadio3">Ambos</label>
        </div>
      </div>

      <button class="button-cadastro mt-4 mb-5" onclick="submitForm()">Finalizar cadastro</button>

    </div>
    <div class="col-md-6 lado2">
      <img class="img-logo" src="{% static 'owner/images/logo.png' %}" width="267" class="logo-align">
      <div class="img-principal justify-content-center">
        <img src="{% static 'owner/images/img-establishment.png' %}" width="550" alt="">
      </div>
    </div>
  </div>
  <script>
    function updateFileName(input) {
      var fileName = input.files[0].name;
      var fileDisplay = document.getElementById("file-name");
      fileDisplay.textContent = fileName;
    }

    const createPayload = () => {
      const fields = [
        'name',
        'opens_at',
        'closes_at',
        'category',
        'delivery',
      ];

      let payload = new FormData();

      let fileInput = document.querySelector('input[name="file"]');
      payload.append('file', fileInput.files[0]);

      fields.forEach(field => {
        let currentFieldValue = document.querySelector(`input[name="${field}"]`)?.value
        if (field === 'delivery') {
          const has_delivery = (currentFieldValue === 'delivery');
          currentFieldValue = has_delivery;
        }

        if (field === 'category') {
          currentFieldValue = document.querySelector(`select[name="${field}"]`)?.value
        }
        payload.append(field, currentFieldValue);
      });

      return payload;
    };

    const submitForm = () => {
      axios.post('/owner/add-establishment-info', createPayload())
        .then(response => {
          setAlertWithConfirmation(
            'success',
            {
              title: response.data.message,
              text: 'Seja bem vindo ao Melograno!'
            }
          );
        })
        .catch(error => {
          setAlert('error', getInvalidFieldMessage(error));
        });
    };

    const getInvalidFieldMessage = (error) => {
      const err = error.response.data.errors;
      const fields = {
        'file': 'Identidade visual',
        'name': 'Nome do estabelecimento',
        'opens_at': 'Abre às',
        'closes_at': 'Fecha às',
        'category': 'Categoria',
        'delivery': 'Tipo de entrega',
      };
      const field = Object.keys(err)[0];
      const value = Object.values(err)[0][0];

      return {
        title: fields[field],
        text: value,
      };
    };

    const setAlert = (type, { title, text }) => {
      Swal.fire({
        title: title,
        text: text,
        icon: type,
        confirmButtonText: 'Ok',
        confirmButtonColor: '#F34444',
      });
    };

    const setAlertWithConfirmation = (type, { title, text }) => {
      Swal.fire({
        title: title,
        text: text,
        icon: type,
        confirmButtonText: 'Certo',
        confirmButtonColor: '#146C43',
      }).then((result) => {
        if (result) {
          window.location.href = '/guest/login';
        }
      });
    };
  </script>
</body>

</html>