{% extends 'owner/layouts/base.html' %}
{% load static %}

{% block title %} Titulo da página {% endblock %}

{% block content %}

<link href="{% static 'owner/css/establishment-profile.css' %}" rel="stylesheet" />

<div class="my-profile" style="width: 100%;">Meu Estabelecimento</div>

<div class="owner-info">
  <div class="owner-text-description">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div class="profile-body-text">
          <h2 class="product-title">{{info.name}}</h2>

          <p class="product-text-description">
            {{info.categories}}<br />
            Entrega e Retirada no Local
          </p>

          <div><img src="{% static 'guest/images/rating.png' %}" /></div>
        </div>
      </div>
    </div>
    <div class="owner-form">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{info.name}}"/>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">CNPJ</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{info.cnpj}}"/>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label"
          >Identidade visual</label
        >
        <input class="form-control" type="file" id="formFile" />
      </div>
      <div>
        <img class="logo" src="{{info.image}}" alt="Logo do {{info.name}}">
      </div>
    </div>

    <div class="address">
      <div class="address-title">Endereço</div>

      <div class="adress-form">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Rua</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            value="{{info.address_id.street}}"
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Bairro</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            value="{{info.address_id.district}}"
          />
        </div>

        <div class="mb-3">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Número</label
          >
          <input type="number" class="form-control" id="inputPassword" value="{{info.address_id.number}}"/>
        </div>
      </div>
    </div>
  </div>
  <img src="{% static 'guest/images/owner-profile-icon.png' %}" />
</div>

{% endblock %}