{% extends 'owner/layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Titulo da página {% endblock %}

{% block content %}
<link href="{% static 'owner/css/orders.css' %}" rel="stylesheet">

<nav class="navbar navbar-light" style="background-color: #f24443;">
    <a class="navbar-brand">
      <div class="sub-navbar">Meus Pedidos</div>
    </a>
</nav>

    {% if page_obj %}
    <div class="grid-order">
        {% for order in page_obj.object_list %}
        <div class="order">
            <span class="name">{{order.user_id}} <span class="time">{{order.send_time|naturaltime}}</span></span>
            <span class="adress">{{order.address_id.street}}, {{order.address_id.number}}, {{order.address_id.district}}</span>
            <div class="line-top"></div>
            <div class="produtos-order">
                {% for plates in order.plates %}
                <div class="item-order">
                    <span class="descricao-order">{{plates.name}}</span>
                    <span class="valor-order">{{plates.price}}</span>
                </div>
                {% endfor %}
            </div>
            <div class="line-down"></div>
            <div class="area-subtotal-order">
                <span class="subtotal-order">Subtotal</span>
                <span class="valor-subtotal-order">{{order.price}}</span>
            </div>
            <div class="area-entrega-order">
                <span class="entrega-order">Taxa de entrega</span>
                <span class="valor-entrega-order">R$ 8,90</span>
            </div>
            <div class="area-total-order">
                <span class="total-order">Total</span>
                <span class="valor-total-order">{{order.price}} + 8,90</span>
            </div>
            <div class="botoes-order">
                <button class="cancelar">Cancelar</button>
                <button class="finalizar">Finalizar</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- meu pagination vai ficar aqui embaixo -->
    <div class="pagination below-navbar">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="page_link" href="?page=1">&laquo; Primeira</a>
                <a class="page_link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
        
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
          
            {% if page_obj.has_next %}
                <a class="page_link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a class="page_link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
      </div>

    <!-- <nav aria-label="...">
        <ul class="pagination paginas">
          <li class="page-item disabled">
            <a class="page-link voltar"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link active-page" href="#" >2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </nav> -->

    <!-- o else fica aqui -->
    {% else %}
    <div class="empty_state">
        <p>Não há nada aqui!</p>
        <img src="{% static 'owner/images/empty-state.png' %}" alt="Vazio">
      </div>
    {% endif %}

      <button class="botao-adicionar">Adicionar novo</button>

{% endblock %}