{% extends 'owner/layouts/base.html' %}
{% load static %}

{% block title %} Meus produtos {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'owner/css/products.css'%}"/>
<script src="https://unpkg.com/phosphor-icons"></script>

<header class="d-flex justify-content-between p-3">
    <h3 class="align-self-center">Meus pedidos</h3>
    <div class="new-product">
        <h5>Adicionar Novo</h5>
    </div>
</header>

<div class="body-content">
    <div class="products">
        <h4 class="product-title">8 BIB’SFIHAS CLÁSSICAS</h4>

        <p class="product-text-description">
            Faça as contas e economize! Escolha 8 Bib’sfihas nos sabores de:
            Carne, Calabresa com Mussarela ou Frango. Peça já!
        </p>
        <div class="product-footer">
            <h5 class="product-text-price" style="color: #00d22e">R$ 19,90</h5>
            <div class="product-tag">
                <h6>Comida Árabe</h6>
            </div>
        </div>
    </div>

    <div class="products">
        <h4 class="product-title">8 BIB’SFIHAS CLÁSSICAS</h4>

        <p class="product-text-description">
            Faça as contas e economize! Escolha 8 Bib’sfihas nos sabores de:
            Carne, Calabresa com Mussarela ou Frango. Peça já!
        </p>
        <div class="product-footer">
            <h5 class="product-text-price" style="color: #00d22e">R$ 19,90</h5>
            <div class="product-tag">
                <h6>Comida Árabe</h6>
            </div>
        </div>
    </div>

    <div class="products">
        <h4 class="product-title">8 BIB’SFIHAS CLÁSSICAS</h4>

        <p class="product-text-description">
            Faça as contas e economize! Escolha 8 Bib’sfihas nos sabores de:
            Carne, Calabresa com Mussarela ou Frango. Peça já!
        </p>
        <div class="product-footer">
            <h5 class="product-text-price" style="color: #00d22e">R$ 19,90</h5>
            <div class="product-tag">
                <h6>Comida Árabe</h6>
            </div>
        </div>
    </div>

    <div class="products">
        <h4 class="product-title">8 BIB’SFIHAS CLÁSSICAS</h4>

        <p class="product-text-description">
            Faça as contas e economize! Escolha 8 Bib’sfihas nos sabores de:
            Carne, Calabresa com Mussarela ou Frango. Peça já!
        </p>
        <div class="product-footer">
            <h5 class="product-text-price" style="color: #00d22e">R$ 19,90</h5>
            <div class="product-tag">
                <h6>Comida Árabe</h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}