{% extends 'owner/layouts/base.html' %}
{% load static %}

{% block title %} Meus produtos {% endblock %}

{% block content %}

{% include 'owner/components/add-product-modal.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'owner/css/products.css'%}"/>
<script src="https://unpkg.com/phosphor-icons"></script>

<header class="d-flex justify-content-between p-3">
    <h3 class="align-self-center">Meus produtos</h3>
    <button class="new-product" id="botao-add">
       Adicionar novo
    </button>
</header>


<div class="body-content">
    <div class="products">
        {% for product in products %}
        <h4 class="product-title">{{product.name}}</h4>
        <p class="product-text-description">
            {{product.description}}
        </p>
        <div class="product-footer">
            <h5 class="product-text-price" style="color: #00d22e">{{product.price}}</h5>
            <div class="product-tag">
                <h6>{{product.category}}</h6>
            </div>
        {% endfor %}
        </div>
    </div>

<script>
    var modal = document.querySelector(".modal-ex");
    var botao = document.querySelector("#botao-add");
    var fechar = document.querySelector("#fechar-modal");
    botao.addEventListener('click', function() {
        modal.style.display = 'flex'
    })

    fechar.addEventListener('click', function() {
        modal.style.display = 'none'
    })

    window.addEventListener('click', function(event) {
        if (event.target == modal) { // verifica se o clique ocorreu fora do modal
            modal.style.display = "none"; // fecha o modal
        }
});



</script>

{% endblock %}