html, body {
    overflow-x: hidden;
}

.lado1{
    padding: 30px;
    background-color: rgba(222, 222, 222, 0.38);
}

.logo-align{
    margin: 5px;
}

.textos{
    padding: 90px;
    font-family: 'Lato'; 
}

#recuperacao{
    padding-top: 200px;
}

.frase1{
    font-size: 35px;
    font-weight: 600;
}

.frase2{
    font-size: 17px;
    margin-top: 17px;
    font-weight: 500;
}

.area-inputs{
    padding-top: 15px;
}

.label-email{
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
    color: rgba(30, 30, 30, 0.75);
}

.box-email,.box-password{
    margin-top: 10px;
    width: 545px;
    height: 65px;
    border-radius: 33px;
    background-color: rgba(221, 221, 221, 1);
    border: none;
    text-align: left;
    
}

input[type="email"]{ 
    padding: 25px;
    font-size: 18px;
    
}

.label-password{
    padding-top: 30px;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
    color: rgba(30, 30, 30, 0.75);
}



input[type="password"]{ 
    padding: 25px;
    font-size: 20px;
   
}

.lembrete-senha{
    margin-top: 8px;
    margin-left: 3px;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 500;

}

.esqueceu-senha{
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 500;
    color: rgba(243, 68, 68, 1);
    padding-left: 290px;
}

.button-entrar,.button-enviar{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 545px;
    height: 65px;
    background-color: rgba(243, 68, 68, 1);
    color: rgba(243, 243, 245, 1);
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 33px;
}

.button-entrar:hover,.button-enviar:hover{

    transition-delay: 100ms;
    background-color: white;
    color: rgba(243, 68, 68, 1);
    border: 2px solid rgba(243, 68, 68, 1);   

}

.final-message{
    margin-top: 30px;
}

.msg-cadastre,.msg-cadastre2{
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
}

.msg-cadastre2{
    color: rgba(243, 68, 68, 1);
    
}

.google-btn {
    max-width: 400px;
    position: relative;
    padding: 15px 20px;
    border: solid 1px rgba(0, 0, 0, .4);
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}