body {
    overflow-x: hidden;
}

.margin-left {
    padding: 40px;
    background-color: rgba(222, 222, 222, 0.38);
}

.adjust-image {
    margin-top: 9%;
}

.texts {
    padding: 90px;
    font-family: 'Lato';
}

.upper-text {
    font-size: 35px;
    font-weight: 500;
}

.user-type-text {
    margin-top: 5%;
    margin-bottom: 3.6%;
}

.reminder-passw {
    margin-top: 8px;
    margin-left: 3px;
    font-size: 13px;
    font-weight: 500;
}

.final-message {
    margin-top: 50px;
    margin-left: 25%;
}

.signup-message,
.signup-message2 {
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
}

.signup-message2 {
    color: rgba(243, 68, 68, 1);

}

.box-name,
.box-email,
.box-password {
    margin-top: 10px;
    width: 545px;
    height: 65px;
    border-radius: 33px;
    background-color: rgba(221, 221, 221, 1);
    border: none;
    text-align: left;
}

.input-name,
.input-email,
.input-password {
    padding: 15px;
    font-size: 18px;
}

.label-name {
    padding-top: 20px;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
    color: rgba(30, 30, 30, 0.75);
}

.label-email {
    padding-top: 20px;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
    color: rgba(30, 30, 30, 0.75);
}

.label-password {
    padding-top: 20px;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
    color: rgba(30, 30, 30, 0.75);
}

.button-signup {
    margin-top: 60px;
    width: 545px;
    height: 65px;
    background-color: rgba(243, 68, 68, 1);
    color: rgba(243, 243, 245, 1);
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 33px;
}

.button-signup:hover {
    transition-delay: 100ms;
    background-color: white;
    color: rgba(243, 68, 68, 1);
    border: 2px solid rgba(243, 68, 68, 1);
}

.group-buttons {
    padding-bottom: 10px;
}

.radio-padding {
    padding-right: 5%;
}

input {
    padding: 0 10px 0 10px;
}

input::placeholder {
    padding: 0 10px 0 10px;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: rgba(30, 30, 30, 0.75);
    font-weight: 600;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid rgba(255, 114, 94, 1);
    background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: rgba(255, 114, 94, 1);
}

.google-btn {
    max-width: 400px;
    position: relative;
    padding: 15px 20px;
    border: solid 1px rgba(0, 0, 0, .4);
}
