{% extends 'client/layouts/base.html' %}
{% load static %}

{% block title %} Estabelecimentos de Comida {{ category }} {% endblock %}

{% block content %}
<link href="{% static 'client/css/category.css' %}" rel="stylesheet">

<div class="title-area">
    <img src="{% static 'client/images/banner-mexican.png' %}">
    <div class="line-down"></div>
</div>

<div class="products-area">
    <span class="title">Estabelecimentos de Comida {{ category }}</span>
    <div class="grid">
        {% for establishment in establishments %}
        <a class="item" href="{% url 'client:establishment' establishment.establishment_id %}">
            <div class="image-container" style="background-image: url('{{ establishment.image }}')"></div>
            <div class="text-area">
                <p class="nome-estabelecimento">{{ establishment.name }} </p>
                <p class="time">Tempo médio ◍ {{ establishment.avg_time }}</p>
                <div class="estrelas">
                    {% for it in establishment.rate %}
                    <i id="{{ it }}" class="fa fa-star" style="font-size:20px; color: #FEAC3E"></i>
                    {% endfor %}
                    {% for it in establishment.outline %}
                    <i id="{{ it }}" class="fa fa-star" style="font-size:20px;"></i>
                    {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="pagination below-navbar d-flex justify-content-center mt-5">
        <span class="step-links">
            {% if establishments.has_previous %}
            <a class="page_link" href="?page=1">&laquo; Primeira</a>
            <a class="page_link" href="?page={{ establishments.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ establishments.number }} de {{ establishments.paginator.num_pages }}.
            </span>

            {% if establishments.has_next %}
            <a class="page_link" href="?page={{ establishments.next_page_number }}">Próxima</a>
            <a class="page_link" href="?page={{ establishments.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}