{% extends 'client/layouts/base.html' %}
{% load static %}

{% block title %} Estabelecimentos de Comida Mexicana {% endblock %}

{% block content %}
<link href="{% static 'client/css/category.css' %}" rel="stylesheet">

<div class="title-area">
    <span class="title">Comida Mexicana</span>
    <img src="{% static 'client/images/banner-mexican.png' %}">
    <div class="line-down"></div>
</div>

<div class="products-area">
    <span class="title">Estabelecimentos de Comida Mexicana</span>
    <div class="grid">
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-habibs.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">Habib's Petrolina </p>
                <p class="time">Lanches ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-bar-gordo.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">Bar do Gordo </p>
                <p class="time">Bebidas ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-mcdonalds.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">McDonald's </p>
                <p class="time">Lanches ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
        <a class="item" href="{% url 'client:establishment' %}">
            <img src="{% static 'client/images/logo-bar-tripa.png' %}" alt="">
            <div class="text-area">
                <p class="nome-estabelecimento">Bar da tripa </p>
                <p class="time">Bebidas ◍ 20 - 30min</p>
                <div class="estrelas">
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                    <i class="fa fa-star" style="font-size:25px;"></i>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}