{% extends 'client/layouts/base.html' %}
{% load static %}

{% block title %} Peça agora! {% endblock %}

{% block content %}
{% include 'client/components/order-modal.html' %}

<link href="{% static 'client/css/establishment.css' %}" rel="stylesheet">

<div class="d-flex justify-content-between">
    <a class="item">
        <div class="image-container" style="background-image: url('{% static "guest/images/" %}{{establishment.image}}')"></div>
        <div class="text-area">
            <p class="nome-estabelecimento">{{ establishment.name }} </p>
            <p class="time">
                Tempo médio ◍ {{ establishment.avg_time }}<br/>
                {% if establishment.delivery %}
                    Entrega e Retirada no Local
                {% else %}
                    Apenas Retirada no Local
                {% endif %}
            </p>
            <div class="estrelas">
                {% for it in establishment.rate %}
                    <i id="{{ it }}" class="fa fa-star" style="font-size:20px; color: #FEAC3E"></i>
                {% endfor %}
                {% for it in establishment.outline %}
                    <i id="{{ it }}" class="fa fa-star" style="font-size:20px;"></i>
                {% endfor %}
            </div>
        </div>
    </a>
</div>

<div class="menu">
    <h5>Lanches</h5>

    <div class="food">
        {% for plate in plates %}
            <div 
                id="{{ plate.plate_id }}"
                class="product-body"
                data-bs-toggle="modal"
                data-bs-target="#plate-modal"
                data-id="{{ plate.plate_id }}"
            >
                <div class="product-body-image">
                    <div class="image-container" style="background-image: url('{% static "guest/images/" %}{{plate.image}}')"></div>
                </div>
                <div class="product-body-text">
                    <h2 class="product-title">{{ plate.name }}</h2>

                    <p class="product-text-description">
                        {{ plate.description }}
                    </p>

                    <h6 class="product-text-price" style="color: #00d22e">R$ {{ plate.price }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>

    <h5>Bebidas</h5>
    <div class="drinks">
        {% for drink in drinks %}
            <div 
                id="{{ drink.plate_id }}"
                class="product-body"
                data-bs-toggle="modal"
                data-bs-target="#plate-modal"
                data-id="{{ drink.plate_id }}"
            >
                <div class="product-body-image">
                    <div class="image-container" style="background-image: url('{% static "guest/images/" %}{{drink.image}}')"></div>
                </div>
                <div class="product-body-text">
                    <h2 class="product-title">{{ drink.name }}</h2>

                    <p class="product-text-description">
                        {{ drink.description }}
                    </p>

                    <h6 class="product-text-price" style="color: #00d22e">R$ {{ drink.price }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination below-navbar d-flex justify-content-center mt-5">
        <span class="step-links">
            {% if drinks.has_previous %}
            <a class="page_link" href="?page=1">&laquo; Primeira</a>
            <a class="page_link" href="?page={{ drinks.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ drinks.number }} de {{ drinks.paginator.num_pages }}.
            </span>

            {% if drinks.has_next %}
            <a class="page_link" href="?page={{ drinks.next_page_number }}">Próxima</a>
            <a class="page_link" href="?page={{ drinks.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script>
    const modal = document.querySelector('#plate-modal');
    let currentPlate = null;

    modal.addEventListener('show.bs.modal', (item) => {
        const item_id = item.relatedTarget.getAttribute('data-id');
        document.querySelector('.pizzaInfo--qt').innerHTML = 1;
        
        axios.get(`/client/plate/${item_id}`)
            .then(response => {
                addModalInfo(response.data.plate);
            }); 
    });

    const addModalInfo = (item) => {
        const itemTitle = document.querySelector('#item-name');
        const itemDescription = document.querySelector('#item-description');
        const itemPrice = document.querySelector('#item-price');
        const itemImage = document.querySelector('#item-img');

        itemTitle.innerHTML = item.name;
        let price = item.price.toLocaleString('pt-BR', {
            minimumFractionDigits: 2, maximumFractionDigits: 2
        });
        itemPrice.innerHTML = `R$ ${price}`;
        itemDescription.innerHTML = item.description;
        itemImage.style.background = `url('/static/guest/images/${item.image}') no-repeat`
        itemImage.style.backgroundSize = 'contain';
        itemImage.style.backgroundPosition = 'center';

        currentPlate = item;
        let itemPriceButton = document.querySelector('#current-price');
        itemPriceButton.innerHTML = itemPrice.innerHTML;
    };

    const addItemToCart = () => {
        let currentPrice = document.querySelector('#current-price').innerHTML;
        currentPrice = parseFloat(currentPrice.replace('R$ ', '').replace(',', '.'));

        currentPlate.total_item = currentPrice;
        currentPlate.quantity = currentPrice / currentPlate.price;

        axios.post('/client/cart/add-item', {
            'current_plate': currentPlate,
        }).then(response => {
            getCartCount();
        });
    };
</script>
{% endblock %}