{% load static %}
<link href="{% static 'owner/css/product-modal.css' %}" rel="stylesheet">

<div class="modal fade" id="new-product-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar um novo produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Imagem do produto</label>
                    <input class="form-control" type="file" name="file" id="formFile">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nome do produto</label>
                    <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descrição do produto</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Preço</label>
                    <input type="text" name="price" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <label for="exampleInputEmail1" class="form-label">Categoria</label>
                <select class="form-select" name="category" aria-label="Default select example">
                    <option selected>escolha uma categoria</option>
                    <option value="plate">Prato</option>
                    <option value="drink">Bebida</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    style="border: none;">Cancelar</button>
                <button id="add-product-btn" class="btn btn-primary"
                    style="background-color: #F34444; border: none;">Adicionar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const createProductPayload = () => {
        const fields = [
            'file',
            'name',
            'description',
            'price',
            'category',
        ];

        let payload = new FormData();

        let fileInput = document.querySelector('input[name="file"]');
        payload.append('file', fileInput.files[0]);

        fields.forEach(field => {
            let currentFieldValue = document.querySelector(`input[name="${field}"]`)?.value

            if (field === 'price') {
                currentFieldValue = parseFloat(currentFieldValue.replace(',', '.'));
            }

            if (field === 'description') {
                currentFieldValue = document.querySelector(`textarea[name="${field}"]`)?.value
            }

            if (field === 'category') {
                currentFieldValue = document.querySelector(`select[name="${field}"]`)?.value
            }

            payload.append(field, currentFieldValue);
        });

        return payload;
    };

    const addProductBtn = document.querySelector('#add-product-btn');

    addProductBtn.addEventListener('click', () => {
        axios.post('/owner/add-product', createProductPayload())
            .then(response => {
                setAlertWithConfirmation(
                    'success',
                    {
                        title: response.data.message,
                        text: ''
                    }
                );
            })
            .catch(error => {
                setAlert('error', getInvalidFieldMessage(error));
            });
    });

    const getInvalidFieldMessage = (error) => {
        const err = error.response.data.errors;
        const fields = {
            'file': 'Imagem do produto',
            'name': 'Nome do produto',
            'description': 'Descrição do produto',
            'price': 'Preço',
            'category': 'Categoria',
        };
        const field = Object.keys(err)[0];
        const value = Object.values(err)[0][0];

        return {
            title: fields[field],
            text: value,
        };
    };

    const setAlert = (type, { title, text }) => {
        Swal.fire({
            title: title,
            text: text,
            icon: type,
            confirmButtonText: 'Ok',
            confirmButtonColor: '#F34444',
        });
    };

    const setAlertWithConfirmation = (type, { title, text }) => {
        Swal.fire({
            title: title,
            text: text,
            icon: type,
            confirmButtonText: 'Certo',
            confirmButtonColor: '#146C43',
        }).then((result) => {
            if (result) {
                window.location.href = '/guest/login';
            }
        });
    };
</script>