.melograno-navbar {
    font-family: 'Lato'; 
    font-weight: 400; 
    font-size: 20px;
    margin-top: 60px;
    margin-inline: 30px;
}

.custom-input {
    background: #F2F2F2;
    border-radius: 96px;
    border: none;
    padding: 15px 20px 15px 80px;
    font-size: 25px;
}

.logo-align {
    margin-top: -10px;
}

.menu-item {
    color: #1E1E1E;
    text-decoration: none; 
    margin-right: 133px;
}

.menu-item:hover, .active {
    color: #F34444;
}

.navbar-items:nth-last-child {
    margin-right: 2000px;
}

.btn-signin {
    font-size: 18px;
    background-color: #F34444;
    border-radius: 37px;
    border: none;
    width: 155px;
    height: 48px;
    font-weight: 600;
    margin-right: 30px;
    transition: .3s ease all;
}

.btn-signin a {
    text-decoration: none;
    color: #fff;
}

.btn-signin:hover {
    background-color: #982929;
}

.btn-signup {
    font-size: 18px;
    background-color: #fff;
    border-radius: 37px;
    border: 1.4px solid #F34444;
    color: #F34444;
    width: 155px;
    height: 48px;
    font-weight: 600;
    transition: .3s ease all;
}

.btn-signon a {
    text-decoration: none;
    color: #F34444;
}

.btn-signup:hover {
    color: #982929;
    border: 1.4px solid #982929;

}