

.line-top{
    width: 100%;
    height: 0px;
    left: 0px;
    
    border: 1.41489px solid rgba(0, 0, 0, 0.14);
    margin-top: 10px;
    margin-bottom: 30px;
}

.title-area{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.title{
    font-family: 'Lato'; 
    font-weight: bold; 
    font-size: 23px;
    color: #1E1E1E;
}

.title-area img{
    height: 210px;
    margin-top: 1.5rem;
}

.line-down{
    width: 100%;
    height: 0px;
    left: 0px;
    border: 1.41489px solid rgba(0, 0, 0, 0.14);
    margin-top: 50px;
    margin-bottom: 30px;
}

.products-area{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.grid {
    margin-top: 2rem;
	display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px;
    justify-content: start;
    grid-gap: 50px 270px;
}


.item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    width: 400px;
    height: 180px;
    border-radius: 30px;
    background-color: #F2F2F2;
}

.item img{
    width: 143px;
    height: 143px;
}

.text-area{
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
    margin-left: 1rem;
    margin-bottom: 1.8rem;
}

.estrelas i{
    color: rgba(30, 30, 30, 0.5);
}

.nome-estabelecimento{
    font-weight: bold;
}