.melograno-navbar {
    font-family: 'Lato'; 
    font-weight: 400; 
    font-size: 20px;
    margin-top: 50px;
    margin-inline: 30px;
}

.nav-links a {
    margin-right: 55px;
}

.logo-align-y {
    margin-top: -20px;
}

#search {
    margin-top: -10px;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 0px 4px 2px 4px;
    margin-top: 3px;
    margin-left: 10px;
}

.custom-input {
    padding-left: 50px;
    height: 40px;
    width: 350px;
    font-size: 14px;
}

.custom-input:focus {
    color: #1E1E1E;
}

.custom-input:focus {
    border: 0 none;
    outline: 0;
}

.products-area {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.grid {
    margin-top: 2rem;
	display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px;
    justify-content: start;
    grid-gap: 50px 270px;
}


.item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    width: 400px;
    height: 180px;
    border-radius: 30px;
    background-color: #F2F2F2;
}

.item img{
    width: 143px;
    height: 143px;
}

.text-area{
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
    margin-left: 1rem;
    margin-bottom: 1.8rem;
}

.estrelas i{
    color: rgba(30, 30, 30, 0.5);
}

.nome-estabelecimento{
    font-weight: bold;
}