<!doctype html>
{% load static %}

<html lang="pt-br" style="height: 100vh;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{% static 'guest/images/favicon.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="{% static 'guest/css/header.css' %}" rel="stylesheet">
    <link href="{% static 'client/css/index.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Melograno - {% block title %}{% endblock %}</title>
</head>

<body>
    <navbar class="d-flex justify-content-between px-4 melograno-navbar">
        <div id="logo" class="logo-align-y">
            <img src="{% static 'guest/images/logo.png' %}" width="267">
        </div>
        <div id="navbar" class="navbar-items nav-links">
            <a href="" class="menu-item active">Início</a>
            <a href="" class="menu-item">Restaurantes</a>
            <a href="" class="menu-item">Bebidas</a>
        </div>
        <div>
            <div id="search">
                <span class="search-icon">
                    <img src="{% static 'guest/images/search-icon.png' %}" width="23" alt="">
                </span>
                <input class="custom-input" type="text" placeholder="Procure restaurantes, lojas..." />
            </div>
        </div>
        <div id="buttons" class="logo-align d-flex">
            <div class="icon" style="margin-right: 75px; cursor: pointer;">
                <img src="{% static 'guest/images/cart.svg' %}" />
            </div>
            <div id="drop-down-user" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
                <img src="{% static 'guest/images/user.svg' %}" />
            </div>
            <ul class="dropdown-menu" aria-labelledby="drop-down-user" style="transition: .5 ease all;">
                <li><a class="dropdown-item" href="#">Meus pedidos</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'user_logout' %}">Sair</a></li>
            </ul>
        </div>
    </navbar>

    <section style="overflow-x: hidden; margin: 60px 0px 0px 60px">
        {% block content %}

        {% endblock %}
    </section>

    
    <footer style="height: 100px; margin-top: 70px">
        <hr>
        <div class="d-flex" style="padding: 20px 15px; color: #717171; font-size: .8125rem">
            <div style="margin-right: 40px;">
                <img src="{% static 'guest/images/favicon.png' %}" width="50">
            </div>
            <div>
                © Copyright 2021 - iFood - Todos os direitos reservados iFood com Agência de Restaurantes Online S.A.<br/>
                CNPJ 14.380.200/0001-21 / Avenida dos Autonomistas, nº 1496, Vila Yara, Osasco/SP - CEP 06.020-902
            </div>
        </div> 
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const dropDown = document.querySelector('.dropdown-menu');
    const dropDownBtn = document.querySelector('#drop-down-user');

    dropDownBtn.addEventListener('click', () => {
        setTimeout(() => {
            console.log('oin');
            if (dropDown.classList.contains('show')) {
                console.log('tem');
                dropDown.style.marginTop = '-5px';
            }
        }, 50)
    });
</script>

</html>